<div id="login" *ngIf="!submitted">
  <h1>Sign in to start!</h1>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required #login>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required #password>
    </div>
    <button type="submit" class="btn btn-primary" (click)="checkLogin(login.value, password.value)">Submit</button>
    <small class="loginError" class="text-danger" *ngIf="fail">
      Wrong username or password. Please try again.
    </small>
    </form>
</div>

   
    
    
    
    <div *ngIf="submitted">
      <h1>Введите номер счета чтобы его открыть</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">ID</label>
          <input type="number" class="form-control" id="exampleIdForOpen" 
          aria-describedby="emailHelp" placeholder="Enter id" required #open>
        </div>
       
        <button type="submit" class="btn btn-primary" (click)="checkOpen(open.value)">Submit</button>
        <small class="loginError" class="text-danger" *ngIf="fail1">
          There's no such bill.You can create it!
        </small>
        </form>
</div>


<div *ngIf="submitted">
  <h1>Введите номер счета чтобы его закрыть</h1>
  <form>
    <div class="form-group">
      <label for="exampleIdForClose">ID</label>
     <input type="number" class="form-control" id="exampleIdForClose"
      aria-describedby="emailHelp" placeholder="Enter id" required #close>
    </div>
   
    <button type="submit" class="btn btn-primary" (click)="checkClose(close.value)">Submit</button>
    <small class="loginError" class="text-danger" *ngIf="fail2">
      Wrong username or password. Please try again.
    </small>
    </form>
  
</div>


<div *ngIf="submitted">
  <h1>Введите номер счета и сумму которую хотите положить</h1>
  <form>
    <div class="form-group">
      <label for="exampleIdForPut">ID</label>
     <input type="number" class="form-control" id="exampleIdForPut"
      aria-describedby="emailHelp" placeholder="Enter id" required #put>
    </div>

    <input type="number" class="form-control" id="exampleIdForPutMoney"
      aria-describedby="emailHelp" placeholder="Enter Sum" required #sum>
    
   
    <button type="submit" class="btn btn-primary" (click)="putMoney(put.value,sum.value)">Submit</button>
    <small class="loginError" class="text-danger" *ngIf="failPut">
      Wrong username or password. Please try again.
    </small>
    </form>
  </div>



  <div *ngIf="submitted">
    <h1>Введите номер счета и сумму которую хотите снять</h1>
    <form>
      <div class="form-group">
        <label for="exampleIdForTake">ID</label>
       <input type="number" class="form-control" id="exampleIdForTake"
        aria-describedby="emailHelp" placeholder="Enter id" required #take>
      </div>
  
      <input type="number" class="form-control" id="exampleIdForTake"
        aria-describedby="emailHelp" placeholder="Enter Sum" required #sum>
      
     
      <button type="submit" class="btn btn-primary" (click)="takeMoney(take.value,sum.value)">Submit</button>
      <small class="loginError" class="text-danger" *ngIf="failTake">
        Wrong username or password. Please try again.
      </small>
      </form>
    </div>



    <div *ngIf="submitted">
      <h1>Введите номер счета для которого хотите узнать сумму</h1>
        <form>
          <div class="form-group">
            <label for="exampleIdForClose">ID</label>
           <input type="number" class="form-control" id="exampleIdForShowSum"
            aria-describedby="emailHelp" placeholder="Enter id" required #sumOfBill>
          </div>
         
          <button type="submit" class="btn btn-primary" (click)="showSum(sumOfBill.value)">Submit</button>
          <small class="loginError" class="text-danger" *ngIf="failSum">
            Wrong username or password. Please try again.
          </small>
          </form>
        
      </div>


